*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #ffffff;
  --white-invisible-color: rgba(255, 255, 255, 0);
  --red-color: #ff4e50;
  --dark-color: #333333;
  --grey-color: #666666;
  --yellow-color: #ffa507;
  --ligthgreen-color: #1cd7ad;
  --blue-color: #4e73db;
}

/* Header */

.container-fluid {
  background: url(../img/Vector_Smart_Object.png) no-repeat var(--dark-color);
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}

/* Header navigation */

nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 125px;
}

nav a {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 36px;
  border: 2px solid var(--white-invisible-color);
  border-radius: 18px;
  transition: 0.2s linear;
}

nav a:hover {
  text-decoration: none;
  color: var(--white-color);
  border-color: var(--white-color);
  transition: 0.2s linear;
}

nav abbr::first-letter {
  text-transform: uppercase;
}

/* Header logo */

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h1 > a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* Headeer title */

header h2 {
  font-family: "Montserrat-Bold";
  font-size: 25px;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

header p {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
}

header p::first-letter {
  text-transform: uppercase;
}

/* Header title button */

.button {
  text-align: center;
}

header button {
  width: 280px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--red-color);
  cursor: pointer;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 138px;
}

header button::first-letter {
  text-transform: uppercase;
}

/* Main section */

main h2 {
  font-family: "Montserrat-Bold";
  font-size: 22px;
  color: var(--dark-color);
  text-align: center;
  margin: 0 auto 15px;
}

main h2::first-letter {
  text-transform: uppercase;
}

/* Main card */

.partner_card {
  text-align: center;
  width: 260px;
  margin: 0 auto 30px;
  position: relative;
}

.partner_card::before {
  content: "";
  display: block;
  background-position-x: center;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  border-radius: 50%;
}

.card_1::before {
  background: url(../img/partner_card/partner1.png) no-repeat;
}

.card_2::before {
  background: url(../img/partner_card/partner2.png) no-repeat;
}

.card_3::before {
  background: url(../img/partner_card/partner3.png) no-repeat;
}

.card_4::before {
  background: url(../img/partner_card/partner4.png) no-repeat;
}

.partner_card h3 {
  margin-bottom: 20px;
}

.partner_card a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--dark-color);
  text-transform: capitalize;
}

.partner_card p {
  font-family: "Roboto-Light";
  font-size: 14px;
  color: var(--grey-color);
}

/* Partner icon */

.partner_card a::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  position: absolute;
  top: 82px;
  right: 50px;
}

.card_1 a::after {
  background: url(../img/social_icon/tv.png) no-repeat var(--red-color) center;
}

.card_2 a::after {
  background: url(../img/social_icon/tube.png) no-repeat var(--yellow-color)
    center;
}

.card_3 a::after {
  background: url(../img/social_icon/coffe.png) no-repeat
    var(--ligthgreen-color) center;
}

.card_4 a::after {
  background: url(../img/social_icon/twitter.png) no-repeat var(--blue-color)
    center;
}

/* Main button */

.button {
  text-align: center;
}

main button {
  width: 280px;
  height: 40px;
  border-style: none;
  background: none;
  border: 2px solid var(--red-color);
  border-radius: 20px;
  cursor: pointer;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--red-color);
  margin-bottom: 57px;
}

main button::first-letter {
  text-transform: uppercase;
}
