html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-white-color: #ffffff;
  --primary-white-invisible-color: rgba(255, 255, 255, 0);
  --primary-red-color: #ff4e50;
  --primary-dark-color: #333333;
  --primary-grey-color: #666666;
  --primary-yellow-color: #ffa507;
  --primary-ligthgreen-color: #1cd7ad;
  --primary-blue-color: #4e73db;
}

.conteiner {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

/* Mobile-first */

/* Header */

header {
  background: url(../img/bg/Vector_Smart_Object.png) no-repeat
    var(--primary-dark-color);
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}

/* Navigation */

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 125px;
}

.header nav a::first-letter {
  text-transform: uppercase;
}

.header nav li:not(:last-child) {
  margin-right: 1px;
}

.header nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 32px;
  border: 2px solid var(--primary-white-invisible-color);
  border-radius: 18px;
  transition: 0.2s linear;
}

.header nav li:hover {
  border-color: var(--primary-white-color);
  transition: 0.2s linear;
}

.header nav a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--primary-white-color);
}

/* Logo */

h1 {
  text-align: center;
  margin: 20px 0 40px;
}

h1 > a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

/* Under header title */

.title {
  text-align: center;
  padding-bottom: 138px;
}

.title h2 {
  text-decoration: none;
  width: 320px;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.title p {
  text-decoration: none;
  width: 220px;
  font-family: "Roboto-Light";
  font-size: 18px;
  color: var(--primary-white-color);
  margin: 0 auto 20px;
}

.title p::first-letter {
  text-transform: uppercase;
}

/* Underheader title button */

.button {
  text-align: center;
}

.title button {
  width: 280px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--primary-red-color);
  cursor: pointer;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--primary-white-color);
}

.title button::first-letter {
  text-transform: uppercase;
}

/* Partner card */

/* Partner title */

.article h2 {
  width: 320px;
  font-family: "Montserrat-Bold";
  font-size: 22px;
  color: var(--primary-dark-color);
  text-align: center;
  margin: 0 auto 15px;
}

.article h2::first-letter {
  text-transform: uppercase;
}

/* Partner card */

.article_partner {
  display: flex;
  flex-direction: column;
}

.partner_card {
  width: 220px;
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
}

.partner_card::before {
  content: "";
  display: block;
  background-position-x: center;
  width: 122px;
  height: 122px;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.card_1::before {
  background: url(../img/partner_card/partner1.png) no-repeat;
}

.card_2::before {
  background: url(../img/partner_card/partner2.png) no-repeat;
}

.card_3::before {
  background: url(../img/partner_card/partner3.png) no-repeat;
}

.card_4::before {
  background: url(../img/partner_card/partner4.png) no-repeat;
}

.partner_card h3 {
  margin-bottom: 20px;
}

.partner_card a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--primary-dark-color);
  text-transform: capitalize;
}

.partner_card p {
  font-family: "Roboto-Light";
  font-size: 14px;
  color: var(--primary-grey-color);
}

/* Partner icon */

.partner_card a::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  border: 4px solid var(--primary-white-color);
  border-radius: 50%;
  position: absolute;
  top: 82px;
  right: 50px;
}

.card_1 a::after {
  background: url(../img/social_icon/tv.png) no-repeat var(--primary-red-color);
}

.card_2 a::after {
  background: url(../img/social_icon/tube.png) no-repeat
    var(--primary-yellow-color);
}

.card_3 a::after {
  background: url(../img/social_icon/coffe.png) no-repeat
    var(--primary-ligthgreen-color);
}

.card_4 a::after {
  background: url(../img/social_icon/twitter.png) no-repeat
    var(--primary-blue-color);
}

/* Partner button */

.article button {
  width: 280px;
  height: 40px;
  border-style: none;
  background: none;
  border: 2px solid var(--primary-red-color);
  border-radius: 20px;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--primary-red-color);
  margin-bottom: 57px;
  cursor: pointer;
}

.article button::first-letter {
  text-transform: uppercase;
}

/* Tablet size */

@media screen and (min-width: 768px) {
  /* Header */

  .header {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .title p {
    width: 100%;
  }

  /* Partner card */

  .article_partner {
    width: 492px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Desktop size */

@media screen and (min-width: 1440px) {
  .header {
    justify-content: space-between;
  }

  .article_partner {
    width: 100%;
    flex-wrap: nowrap;
  }
}
