html {
    box-sizing: border-box;
    font-size: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.conteiner {
    display: block;
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Header */

header {
    padding: 38px 0 32px;
}

/* Logo */

h1 {
    display: inline-block;
}

h1 a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
}

h1::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

/* Navigation */

header ul {
    float: right;
    list-style: none;
    text-transform: uppercase;
    padding-top: 8px;
}

header li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 15px;
}

nav > ul a {
    text-decoration: none;
    color: #555252;
}

nav ul li:last-child {
    margin-right: 0;
}

header li > a:hover {
    color: #1abc9c;
    transition: .15s;
}
  
/* Slider */

.slider {
    width: 1600px;
    margin: 0 auto 101px;
    position: relative;
}

.slider img {
    filter: brightness(0.522);
}

.name_slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name_slider h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 82px;
}

.name_slider h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 54px;
}

/* Icon */

.slider .icon_left {
    float: left;
}

.slider .icon_rigth {
    float: right;
}

.slider_icon .pe-7s-angle-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 100px;
    background-color: rgba(78, 198, 171, .651);
}

.slider_icon .pe-7s-angle-right {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 100px;
    background-color: rgba(78, 198, 171, .651);
}

.slider_icon span {
    color: #ffffff;
    padding: 2px;
}

.slider_icon {
    opacity: 0;
}

.slider:hover .slider_icon {
    opacity: 1;
    transition: .2s;
}

/* Main galery */

/* Title */

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 121px;
}

.title:after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 32px auto 0;
}

/* Product collection */

main section {
    float: left;
    margin-right: 30px;
    margin-bottom: 98px;
}

main section:last-child {
    margin-right: 0;
}

main section:hover .name_price {
    background-color: #1abc9c;
    transition: .2s;
}

.name_price {
    background-color: #323232;

}

.name_price h2 {
    float: left;
    padding: 9.5px 14px;
}

.name_price a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.name_price span {
    float: right;
    width: 54px;
    background-color: rgba(255, 255, 255, .439);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
}

/* Hover batton */

.backdrop {
    position: relative;
}

.cart_icon {
    width: 235px;
    height: 262px;
    background-color: rgba(0, 0, 0, .549);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.cart_icon:hover {
    opacity: 1;
    transition: .2s;
}

main .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main form {
    float: left;
    margin: 0 9px 7px 0;
}

main form:nth-child(3n) {
    margin-right: 0;
}
main form:last-child {
    margin: 0;
}

main button {
    font-size: 30px;
    background: none;
    color: #ffffff;
    border: 1px solid;
}

main abbr {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8px;
}

main .pe-7s-like,
.pe-7s-shuffle,
.pe-7s-clock {
    padding: 9px;
}

main .pe-7s-cart {
    float: left;
    width: 166px;
    padding: 9px;
    background-color: #323232;
}

main .pe-7s-like:hover,
.pe-7s-shuffle:hover,
.pe-7s-clock:hover,
.pe-7s-cart:hover {
    background-color: #1abc9c;
    transition: .2s;
}

/* Footer */

footer {
    width: 1600px;
    margin: 0 auto;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fefefe;
    background-color: #323232;
    text-align: center;
    text-transform: capitalize;
    padding: 33px 0;
}

footer a {
    text-decoration: none;
    color: #1abc9c;
}



