html {
    box-sizing: border-box;
    /* font-size: 0; */
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.conteiner {
    display: block;
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Header */

/* Logo */

h1 {
    display: inline-block;
    line-height: 90px;
}

h1 a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
}

h1::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

/* Navigation */

header ul {
    float: right;
    list-style: none;
    text-transform: uppercase;
}

header li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 15px;
    line-height: 90px;
}

nav > ul a {
    text-decoration: none;
    color: #555252;
}

nav ul li:last-child {
    margin-right: 0;
}

header li > a:hover {
    color: rgb(26, 188, 156);
    transition: .15s;
}
  
/* Slider */

.slider {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

.slider > img {
    position: absolute;
}

.name_slider {
    position: absolute;
}

.name_slider h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 82px;
}

.name_slider h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 54px;
}