html {
  font-size: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --yellow-color: #fce38a;
  --dark-color: #333333;
  --grey-color: #999999;
  --lightgreen-color: #95e1d3;
  --ligthgrey-color: #e5e5e5;
  --coral-color: #f38181;
}

.container {
  max-width: 1200px;
  width: 100%;
}

/* Header */

header {
  width: 100%;
  /* background: linear-gradient(rgba(255, 204, 153, 0.5) rgba(252, 227, 138, 0.5)),
    url(../img/bg/header/Layer15.png) no-repeat center/cover; */
  background: url(../img/bg/header/Layer15.png) no-repeat center/cover;
  margin-bottom: 46px;
}

.header-nav {
  padding-top: 29px;
  margin-bottom: 150px;
}

/* Logo */

.header-logo__link {
  text-decoration: none;
  font: 700 30px "Montserrat", sans-serif;
  color: var(--white-color);
}

/* Navigation */

.header-nav__list {
  list-style: none;
}

.header-nav__list-item {
  text-decoration: none;
  font: 400 14px "Montserrat", sans-serif;
  color: var(--white-color);
  text-transform: uppercase;
  padding-top: 10px;
}

.header-nav__list-item::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 3px;
  background-color: var(--yellow-color);
  opacity: 0;
  transition: 0.2s linear;
}

.header-nav__list-item:hover {
  color: var(--yellow-color);
  transition: 0.2s linear;
}

.header-nav__list-item:hover::after {
  opacity: 1;
  transition: 0.2s linear;
}

/* Header title */

.header-title {
  font: 400 72px "Kaushan Script", cursive;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 31.25px;
}

.header-title__text {
  font: 700 150px "Montserrat", sans-serif;
  color: var(--white-color);
  text-transform: uppercase;
}

/* Header button */

.header-btn {
  border-style: none;
  background-color: transparent;
  width: 160px;
  height: 40px;
  border: 3px solid var(--white-color);
  cursor: pointer;
  margin-bottom: 230px;
  font: 700 14px "Montserrat", sans-serif;
  color: var(--white-color);
  text-transform: uppercase;
}

/* Blog section */

/* All primary title */

.title {
  margin: 0 auto 110px;
  text-align: center;
}

.title::after {
  content: "";
  display: flex;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 0;
}

.title-text {
  font: 400 24px "Kaushan Script", cursive;
  color: #333333;
}
.title-text::first-letter {
  text-transform: uppercase;
}

.title-text span {
  font: 700 30px "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
}

/* Article blog */

/* Icon */

.article {
  margin-bottom: 100px;
}

.article-blog__icon {
  cursor: default;
}

.article-blog__icon::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 30px;
}

.alarm {
  background: url(../img/bg/service_icon/ALARM.png) no-repeat;
}

.line_graph {
  background: url(../img/bg/service_icon/LINE_GRAPH.png) no-repeat;
}

.computer_ok {
  background: url(../img/bg/service_icon/COMPUTER_OK.png) no-repeat;
}

.book_2 {
  background: url(../img/bg/service_icon/BOOK2.png) no-repeat;
}

.home {
  background: url(../img/bg/service_icon/HOME.png) no-repeat;
}

.image {
  background: url(../img/bg/service_icon/IMAGE.png) no-repeat;
}

/* Article title */

.article-blog__title {
  font: 400 14px "Montserrat", sans-serif;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.article-blog__text {
  font: 400 15px "Roboto", sans-serif;
  color: var(--grey-color);
}

/* Section team */

.team {
  width: 380px;
  margin-bottom: 85px;
}

.team__title {
  text-align: center;
  margin-bottom: 15px;
}

.team__title-link {
  text-decoration: none;
  font: 400 14px "Montserrat", sans-serif;
  color: var(--dark-color);
  text-transform: uppercase;
}

.team__text {
  display: block;
  font: italic 300 15px "Roboto", sans-serif;
  color: var(--grey-color);
  text-transform: capitalize;
  text-align: center;
}

/* Team photo overlay */

.team-photo {
  position: relative;
  transition: 0.2s linear;
  margin-bottom: 30px;
}

.team-photo:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 #95e1d3;
  transition: 0.2s linear;
}

.team-social-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.8),
    rgba(252, 227, 138, 0.8)
  );
  opacity: 0;
  transition: 0.2s linear;
}

.team-photo:hover .team-social-card {
  opacity: 1;
  transition: 0.2s linear;
}

/* Footer */

footer {
  border-top: 1px solid var(--ligthgrey-color);
}

.footer {
  margin: 10px auto;
}

.footer-license__text {
  font: 400 14px "Montserrat", sans-serif;
}

.footer-license__link {
  text-decoration: none;
  color: var(--coral-color);
}

h4 {
  font-size: 20px;
}
