* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 0;
}

*, *::before, ::after {
    box-sizing: inherit;
}

.conteiner {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* Header */

header {
    padding-top: 38px;
    padding-bottom: 105px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

header h1 {
    display: inline-block;
    vertical-align: middle;
}

h1>a {
    text-decoration: none;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.067;
}

h1::first-letter {
    font-weight: 900;
    color: rgb(26, 188, 156); ;
}

/* Navigation */

header ul {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    line-height: 0.786;
}

header li {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

header li:last-child {
    margin-right: 0;
}

header li:hover, header li:focus {
    color: rgb(26, 188, 156);
    transition: .15s linear;
}
