* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 0;
}

*, *::before, ::after {
    box-sizing: inherit;
}

.conteiner {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* Header */

header {
    padding-top: 38px;
    padding-bottom: 105px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header logo */

header h1 {
    display: inline-block;
    vertical-align: middle;
}

h1>a {
    text-decoration: none;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.067;
}

h1::first-letter {
    font-weight: 900;
    color: rgb(26, 188, 156); ;
}

/* Header navigation */

header ul {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    line-height: 0.786;
}

header li {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

header li:last-child {
    margin-right: 0;
}

header li:hover, header li:focus {
    color: rgb(26, 188, 156);
    transition: .15s;
}

/* Main */

/* Main title */

main>h2>a {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: .667;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(81, 81, 81);
}

main>h2 {
    text-align: center;
    margin-bottom: 131px;
}

main h2:after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
    background-color: rgb(26, 188, 156);
    opacity: 0;
    transition: opacity .15s;
}

main h2:hover:after {
    opacity: 1;
}

/* Main galery */

main section {
    display: inline-block;
}

main h3, main h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
}


/* ._26 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 460.263px;
    top: 652.618px;
    width: 30px;
    height: 17px;
    z-index: 49;
  } */
  

/* .Rectangle_50 {
    background-color: rgb(233, 240, 253);
    width: 255px;
    height: 322px;
    */
