footer {
  border-top: 1px solid $ligthgrey;
}

// License

.footer {
  @include flexspbw;
  margin: 10px auto;

  &__license {
    padding-top: 11px;

    &-text {
      font: 14px $Montserrat;
      color: $dark;

      &-link {
        text-decoration: none;
        color: $coral;
      }
    }
  }
}

// Form

.footer__form {
  height: 40px;

  &-textarea {
    width: 230px;
    height: 100%;
    font: 15px $Montserrat;
    color: $dark;
    padding-left: 10px;
    outline: none;

    &::placeholder {
      font: italic 15px $Roboto;
      color: $placeholder-color;
      text-transform: capitalize;
    }
  }
}

.footer__form-btn {
  height: 100%;
  border-style: none;
  font: 14px $Montserrat-Bold;
  @include whitefontupp;
  background-color: $lightgreen;
  padding: 0 33px;
  outline: none;
  cursor: pointer;
}
